* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 15%,
    #dadbd3 15%,
    #dadbd3 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  height: 95vh;
  background-color: brown;
  display: flex;
}

.chat-menu {
  width: 35%;
  background-color: white;
  border-right: 1px solid #dadbd3;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}

.header img.avatar {
  height: 45px;
  width: 45px;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-menu {
  color: #b1b1b1;
}

.user-menu i {
  margin-left: 15px;
}

.notification {
  background-color: #76dcff;
  display: flex;
  align-items: center;
  padding: 15px 20px;
}

.notification .avatar {
  width: 45px;
  height: 45px;
  background-color: white;
  color: #76dcff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.notification a{
  color: grey;
  font-size: 0.8rem;
}

.searchbar {
  padding: 10px;
  background-color: #fafafa;
  display: flex;
}

.searchbar input {
  width: 100%;
  border: 1px solid #e9ebeb;
  padding: 8px 10px;
}

.search-icon {
  padding: 8px 20px;
  color: #b1b1b1;
  background-color: white;
  border-top: 1px solid #e9ebeb;
  border-left: 1px solid #e9ebeb;
  border-bottom: 1px solid #e9ebeb;
  cursor: pointer;
}

.search-icon:active {
background-color: rgba(0, 0, 0, 0.03);
}

.chats-wrapper {
  display: flex;
  height: calc(100% - 198px);
}

.chats-container {
  width: calc(100% - 15px);
  height: 100%;
  overflow-y: auto;
}

.scrollbar {
  color: #b1b1b1;
  background-color: #f1f1f1;
  position: relative;
  width: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.scrollbar i {
  font-size: 0.8rem;
}

.chat-row {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e9ebeb;
  display: flex;
  position: relative;
  cursor: pointer;
}

.chat-row .avatar {
  margin-left: 5px;
}

.chat-info {
  display: flex;
  flex-direction: column;
}

.msg-preview, .msg-time {
  color: #b1b1b1;
  font-size: 00.8rem;
} 

.msg-time {
  position: absolute;
  right: 10px;
  top: 10px;
}

.conversation {
  background-color: cadetblue;
  width: 65%;
  background-image: url(../img/mine.jpg);
}

.active {
  background-color: #e9ebeb;
}