* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    #009688 0%,
    #009688 15%,
    #dadbd3 15%,
    #dadbd3 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 85%;
  min-height: 95vh;
  background-color: brown;
  display: flex;
}

.chat-menu {
  width: 35%;
  background-color: burlywood;
}

.header {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eaeaea;
}

.header img.avatar {
  height: 40px;
  width: 40px;
}

img.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-menu {
  color: #b1b1b1;
}

.user-menu i {
  margin-left: 15px;
}

.conversation {
  background-color: cadetblue;
}